// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Muli:200,300,400');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


/* === CONSTANTS === */
$primary-color : #f17c2c;
$color-light: #f1f1f1;
$dark-color: rgb(33, 37, 41);

html,
    body {
      padding: 0;
      margin: 0;
      height: 100%;
      text-align: center;
      font-family: 'Roboto', sans-serif;
      font-weight:300;
      font-size: 20px;
      line-height: 30px;
      color:$dark-color;
      scroll-behavior: smooth;
      transition: 5s;

    }
    h1, h2, h3, h4, h5, h6 {
      font-family: 'Muli', sans-serif;
    }
    h1 {
      font-weight: bold;
      font-size: 100px;
    }

    h2 {
      font-weight: normal;
      font-size: 30px;
      letter-spacing:1px;
      text-transform: uppercase;
      color: $primary-color;
    }
    #slogan {
      font-weight: 100;
      margin-top: 20px;
      padding-bottom: 20px;
      margin-bottom: 0px;
      text-shadow: 1px 1px $dark-color;

    }
    h3 {
      text-transform: uppercase;
      color: $primary-color;
      font-weight: bold;
      font-size: 40px;
      margin-bottom:30px;
    }
    h4, h5 {
      text-transform: uppercase;
      font-weight: normal;
      font-size: 25px;
      margin-top:0px;
      margin-bottom:30px;
      color: $primary-color;
    }
    h4, h6 {
      color: $dark-color;
      font-size: 28px;
    }
    li {
      display: block !important;
    }
    /* ========== NAVIGATION ========== */

    #index {
      overflow: hidden;
    }

    #nav {
      background-color: #212121;
      a {
        color: $color-light;
        letter-spacing: 2px;
        padding: 5px 10px;
      }
      a:hover {
        color: $primary-color;
        text-decoration: none;
      }
    }
      .nav-item::after {
        content: '';
        display: block;
        height: 2px;
        width: 0;
        background: transparent;
        transition: width .3s ease, background-color .3s ease;
      }
      .nav-item:hover:after {
        width: 100%;
        background: white;
      }
      
      .nav-item.active:after {
        width: 100%;
        background: white;
      }
    

    /* ========== MAIN ========== */
    #logo-home {
      height:40px;
      margin-right:40px;
    }
    #symbol {
      width: 105px;

    }
    #logo {
      width: 350px;
    }
    #combinationmark {
      padding-top: 20%;
    }

    #disclaimer {
      width: 100%;
      max-width: 700px;
      margin: 0px auto;
      margin-top: 20px;
      margin-bottom: 0px;
      padding: 10px;
      background-color: rgba(0,0,0,0.4);
      color: $color-light;
      font-size: 16px;
      font-weight: normal;
      text-align: center;
    }

	.disclaimerbox {
		margin-bottom: 0px;
		padding-bottom: 20%;
	}
    .warning {
      color: darkred;
      font-weight: bold;
      font-size: 22px;
    }

    ul {
      list-style-type: none;
      padding: 0;
    }
    textarea {
      resize: none;
    }
    .btn-custom {
      text-transform: uppercase;
      min-width: 200px;
      font-weight: 100;
      letter-spacing: 1px;
      background-color: $color-light;
      color: $dark-color;
      border: none;
    }
    .btn-custom:hover {
      background-color: lightgray;
      color: $dark-color;
    }

    li {
      display: inline-block;
      margin: 0 10px;
    }

    a {
      color: #42b983;
    }

    #content {
      margin-top: 65px;
    }

    #home {
      background-image: url("/images/moare-team.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      width: 100%;

    }
    #about {
      a {
        color: $color-light;
      }
      a:hover {
        color: $color-light;
        text-decoration: none;
      }
    }

    .filter-black {
      height: 100%;
      background-color: rgba(0,0,0,0.7);
    }

    #about,
    #values,
    #team,
    #service,
    #news,
    #contact,
    #privacy {
      padding: 80px 0px;
    }
    #service h4, #service, #team h4 {
      color: $color-light;
    }

    #footer {
      background-color: #212121;
      color: $color-light;
      padding: 20px 0px;
      text-align: center;
      font-size: 16px;
    }

    #about, #contact, #news {
      background-color: $primary-color;
      color:$color-light;
    }

    #values {
      background-color: white;
    }


    #about h3, #contact h3, #news h3 {
      color: $dark-color
    }
    #team, #service {
      background-color:$dark-color;
    }
    .bg-gray {
      background-color: #212121;
      color: $color-light;
    }

    nav {
      font-size: 16px;
      position: fixed;
    }
    .color-white{
      color: $color-light;
    }
    .color-white:hover {
      color: $primary-color;
    }

    img.value-left {
      height: 200px;
      float: left;
      margin-bottom:33px;
    }
    img.value-right {
      height: 200px;
      float: right;
      margin-bottom:33px;
    }

    .float-left {
      float: left;
    }

    .margin-right-30 {
      margin-right: 30px;
    }
    .margin-left-30 {
      margin-left: 30px;
    }
    .dark-font {
      color: $dark-color;
    }
    .bold {
      font-weight: bold;
    }
    .white-text {
      color: $color-light !important;
    }

    .clear {
      clear: both;
    }
    .normal {
      font-weight: 400;
    }

    .value-content-left {
      text-align: left;
    }
    .value-content-right {
      text-align: right;
    }
    .bigger-size {
      font-size: 1.5rem;
    }
    .slightly-bigger-size {
      font-size: 1.4rem;
    }
    .smaller-size {
      font-size: 0.8rem;
    }
    .uppercase {
      text-transform: uppercase;
    }

    p.divider {
      width: 100%; 
      text-align: center; 
      border-bottom: 1px solid $dark-color; 
      color: $dark-color;
      line-height: 0.1em;
      margin: 10px 0 20px; 
   } 
   
   p.divider span { 
       background-color:$primary-color; 
       padding:0 20px; 
       letter-spacing:3px;
   }

    /* ========= SERVICE ========= */
    .service-icon {
      width: 130px;
      height: 130px;
      max-width: 130px;
      max-height: 130px;
      background-color: $primary-color;
      border-radius: 50%;
      margin: 0px auto;
      background-repeat: no-repeat; 
background-position: center center;
background-size:80px;
    }
    .analyse {
      background-image: url('/images/analyse.png');
      background-size:100px;
    }
    .optimise {
      background-image: url('/images/optimise.png');
    }
    .customise {
      background-image: url('/images/customise.png');
    }

    /* ========= TEAMS ========= */
    .rotate-container {
      position: relative;
      margin: 0px auto;
      margin-top: 0px;
      max-width: 340px;
      margin-bottom: 20px;
    }
    .card-header:first-child {
      border-radius: 10px 10px 0px 0px;
    }
    .rotate-container .card-front, .rotate-container .card-back {
      -webkit-transform: perspective(600px) rotateY(0deg);
              transform: perspective(600px) rotateY(0deg);
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
      transition: all 0.5s linear 0s;
      cursor: pointer; // to indicate it is clickable
    }
    .rotate-container .card-back {
      -webkit-transform: perspective(1600px) rotateY(180deg);
              transform: perspective(1600px) rotateY(180deg);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
    }
    .backside {
      background-color: #383838 !important;
    }
    .rotate-container .rotate-card-front {
      -webkit-transform: perspective(1600px) rotateY(-180deg);
              transform: perspective(1600px) rotateY(-180deg);
    }
    .rotate-container .rotate-card-back {
      -webkit-transform: perspective(1600px) rotateY(0deg);
              transform: perspective(1600px) rotateY(0deg);
    }
    .dog-ear {
      width:0px;
		height:0px;
		border-top: $color-light 30px solid;   /*inside part*/
		border-right: #212529 30px solid;   /*outside part*/
    position:absolute;
		bottom:0px;
		right:0px;
		-webkit-box-shadow: -3px -2px 5px 0px rgba(0, 0, 0, 0.2);
		-moz-box-shadow: -3px -2px 5px 0px rgba(0, 0, 0, 0.2);
		box-shadow: -3px -2px 5px 0px rgba(0, 0, 0, 0.2);
    }
    .dog-ear-reverse {
      width:0px;
		height:0px;
		border-bottom: #212529 30px solid;   /*outside part*/
		border-right: #363636 30px solid;   /*inside part*/
    position:absolute;
		bottom:0px;
		left:0px;
		-webkit-box-shadow: 1px -2px 4px 0px rgba(0, 0, 0, 0.5);
		-moz-box-shadow: 1px -2px 4px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 3px -2px 4px 0px rgba(0, 0, 0, 0.5)
    }

    /* Modified card styles */
    .card {
      //box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
      border-radius: 15px;
    }
    .card .card-header p {
      margin: 0;
      font-size:30px;
      text-transform: uppercase;
      color: $dark-color;
    }
    .card {
      border:0px;
    }
    .bio {
      color: $color-light;
      font-size: 16px;
      line-height: 20px;
      text-align: left;
      max-height:320px;
      overflow-y: scroll;
      letter-spacing: 1px;
      max-width: 360px;
      padding:0px 30px 0px 30px;
      margin: 0px auto;
      padding-bottom: 20px;
      padding-top: 10px;
      background-size: cover;
    }
    .bg_martin {
      background-image:linear-gradient(rgba(0,0,0,0.78), rgba(0,0,0,0.78)), url("/images/martin.png")
    }
    .bg_florian {
      background-image:linear-gradient(rgba(0,0,0,0.78), rgba(0,0,0,0.78)), url("/images/florian.png")
    }
    .bg_aray {
      background-image:linear-gradient(rgba(0,0,0,0.78), rgba(0,0,0,0.78)), url("/images/aray.png")
    }
    .bg_toni {
      background-image:linear-gradient(rgba(0,0,0,0.78), rgba(0,0,0,0.78)), url("/images/toni.png")
    }
    .bg_kristin {
      background-image:linear-gradient(rgba(0,0,0,0.78), rgba(0,0,0,0.78)), url("/images/kristin.png")
    }
    
    h3.card-title {
      color: $primary-color;
      font-weight: normal;
      font-size: 22px;
      padding-top:10px;
      padding-bottom:10px;
      padding-left: 7px;
      padding-right: 7px;
    }
    .card .card-background {
      background: url("https://static.pexels.com/photos/443374/pexels-photo-443374.jpeg");
      height: 8em;
      background-position: center center;
      background-size: cover;
    }
 
    .teampic {
      width: 100%;
      padding: 0px 20px 20px;
    }
    .click {
      background-color: #FAFAFA;
      color: $dark-color;
      font-size: 16px;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 1px;
      padding: 5px;
      border-radius: 0px 0px 10px 10px;

    }
    .backside {
      background-color: #2E2E2E;
      color: $color-light;
    }
    .hint {
      height: 36px;
    }
    .card .btn {
      margin-bottom: 1em;
      cursor: pointer;
    }
    .card-title {
      margin-bottom: 0;
    }
    .card .social-links li {
      margin: 0.5em;
    }
    .card .social-links a {
      font-size: 1.5em;
    }
    .smaller {
      font-size: 13px;
    }
    .italic {
      font-style: italic;
    }
    .quote {
      margin-bottom: 15px;
      color: $dark-color !important;
      font-weight: bold;
      font-size: 20px;
    }
    .quotebox {
      background-color: $primary-color;
      border-radius: 3px;
      padding: 10px;
      margin-right: 10px;
    }

    /* ========== CONTACT ========== */
    .form-control:focus {
      box-shadow: 0 0 0 0.1rem rgba(0,0,0,0.05);
      border: 1px solid #ced4da;
    }


    /* ========== PRIVACY STATEMENT ========== */
    #privacy {
      text-align: left;
      li::before {
        content: "• ";
        color:$primary-color;
      }
      a {
        color: $primary-color;
      }
      a:visited {
        color: $primary-color;
      }
      a:hover {
        color: $primary-color;
      }
  
    }

    /* ========== FOOTER ========== */
    #footer {
      font-size: 14px;
      letter-spacing: 1px;

    }
    .address-box {
      text-align: left;
    }
    
    #address {
      line-height: 20px;
      text-transform: uppercase;
      float: left;
    }
    #footer a {
      color: $color-light !important;
      margin-left: 20px;
      text-decoration: underline;
    }
    .icon_address {
      float: left;
      height: 50px;
      width: 50px;
      margin-top: 14px;
      margin-right: 10px;
    }
    #footer a:visited {
      color: $color-light !important;
    }
    #footer a:hover {
      color: $primary-color !important;
    }
  

    .not-unterline {
      text-decoration: none !important;
    }

    /* custom scrollbar */
    /* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #555;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; //f1f1f1
}

/* =========== MEDIA QUERIES ========== */

// Bootstrap Breakpoints

 @media (max-width: 1199.98px) {
   .dog-ear {
     border-top: #f1f1f1 20px solid;
     border-right: #212529 20px solid
   }
   .dog-ear-reverse {
      border-bottom: #212529 20px solid;   /*outside part*/
      border-right: #363636 20px solid;   /*inside part*/
   }
   
   .card-header {
    padding: 5px 10px !important; 
    p {
      font-size: 22px !important; 
    }
   }
   h3.card-title {
     font-size: 18px !important;
   }
   .rotate-container {
     max-width: 280px !important;
   }
   .bio {
     max-height: 260px;
   }
  }

  @media (max-width: 992px) {
    #logo {
      width: 250px;
    }
    #symbol {
      width: 80px;
    }
    h2 {
      font-size: 22px;
    }
    .nav-item::after {
      content: '';
      display: none;
    }
    .nav-item:hover:after {
      display: none;
    }
    
    .nav-item.active:after {
      display: none;
    }
  
  }

  @media (max-width: 767.98px) {
    .card-header {
      padding: 10px 10px !important; 
      p {
        font-size: 30px !important;
      }
     }
     .dog-ear {
      border-top: #f1f1f1 30px solid;
      border-right: #212529 30px solid
    }
    .dog-ear-reverse {
       border-bottom: #212529 30px solid;   /*outside part*/
       border-right: #363636 30px solid;   /*inside part*/
    }
    
     h3.card-title {
       font-size: 22px !important;
     }
     .rotate-container {
       max-width: 340px !important;
     }
     .bio {
       max-height: 320px;
     }
    .value-content-right, .value-content-left {
      text-align: center;
      margin-bottom: 25px;
    }
    #logo-home {
      display: none;
    }
    #home {
      background-color: $dark-color;
      background-image: none;
    }
    .filter-black {
      background-color: rgba(0,0,0,0);
    }
    .address-box {
      margin: 0px auto;
      width: 400px;
    }
    #socialmedia {
      margin-bottom: 1rem;
    }
  }


  // Custom Breakpoints
  @media (max-width: 1467px) {
    .disclaimerbox {
      padding-bottom: 15%;
    }
    #combinationmark {
      padding-top: 15%;
    }
  }
  @media (max-width: 1243px) {
    .disclaimerbox {
      padding-bottom: 10%;
    }
    #combinationmark {
      padding-top: 10%;
    }
  }
  @media (max-width: 450px) {
    #logo {
      width: 70%;
    }
    #symbol {
      width: 20%;
    }
    #slogan {
      font-size: 100%;
    }
  }
  @media (max-width: 410px) {
    #address {
      letter-spacing: 0.5px;
      font-size: 13px;
    }
    .card-header {
      padding: 10px 10px !important; 
      border-radius: 0px !important;
      p {
        font-size: 22px !important;
      }
     }
     h3.card-title {
       font-size: 18px !important;
     }
     .rotate-container {
       max-width: 100% !important;
       overflow: hidden;
     }
     .bio {
       max-height: 360px;
     }
     .quotebox {
       margin-bottom: 20px;
     }
     .click.backside {
       display:none;
     }
     .click {
       border-radius: 0px;
     }
     .card {
       border-radius: 0px !important;
     }
  }
  @media (max-width: 380px) {
    .dog-ear {
      border-top: #f1f1f1 20px solid;
      border-right: #212529 20px solid
    }
    .dog-ear-reverse {
       border-bottom: #212529 20px solid;   /*outside part*/
       border-right: #363636 20px solid;   /*inside part*/
    }
    
    .bio {
      max-height: 320px;
    }
    .quotebox {
      margin-bottom: 30px;
    }
  }

  @media (max-width: 350px) {
    .dog-ear, .dog-ear-reverse {
      display:none;
    }
  }


  .no-decoration {
    text-decoration: none !important;
  }
