<template>
  <div id="index">
    
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top navbar-default" id="nav">
    <!--navbar navbar-expand-lg navbar-gray fixed-top navbar-default -->
    <a href="#home"><img id="logo-home" src="/images/logo.png"/></a>
    <!--<img id="logo-home" src="/images/logo.png"/>-->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="color-white" href="#about">About Us</a>
        </li>
        <li class="nav-item">
          <a class="color-white" href="#service">Service</a>
        </li>
        <li class="nav-item">
          <a class="color-white" href="#news">News</a>
        </li>
        <li class="nav-item">
          <a class="color-white" href="#values">Culture</a>
        </li>
        <li class="nav-item">
            <a class="color-white" href="#team">Team</a>
          </li>
        <li class="nav-item">
          <a class="color-white" href="#contact">Contact</a>
        </li>
      </ul>
    </div>
    
  </nav>
  <div id="content">
    <div id="home">
      <div class="filter-black">
        <div class="container" data-aos="zoom-in" data-aos-delay="80" data-aos-duration="800" data-aos-easing="ease-in">
          <div id="combinationmark">
            <img src="/images/Lion_finished_V1.png" alt="Icon" id="symbol">
            <img src="/images/logo.png" alt="Logo" id="logo">
          </div>
          <h2 id="slogan"><span class="normal">Mo</span>re than just softw<span class="normal">are</span>.</h2>
          <div class="disclaimerbox">
        <div id="disclaimer"><span class="warning">!</span> DISCLAIMER: This website does not belong to a real company. It is part of a students project.</div>
        </div>
        </div>
      </div>
    </div>
    <div id="about">
      <div class="container" data-aos="fade-left" data-aos-delay="80" data-aos-duration="800" data-aos-easing="ease-in">
        <h3>About us</h3>
        <p>Moare is 5-person start-up based in Chemnitz, Germany. The name Moare (pronounced like “more”) is a combinaton of the words “more” and “software”. 
          It is derived from our slogan: “More than just software”.</p>

        <p>As the slogan suggests, we are not just a software company. Moare is a software and business consulting company in one.
        Discover our website to find out more about <a href="#service">what we offer</a> and <a href="#values">how we operate</a>, stay up-to-date with the latest <a href="#news">news</a>,
        meet the <a href="#team">creative minds</a> behind Moare or <a href="#contact">get in contact</a> with us.</p>
      </div>
    </div>
    <!-- SERVICE SECTION -->
    <div id="service">
      <div class="container" data-aos="fade-right" data-aos-delay="80" data-aos-duration="800" data-aos-easing="ease-in">
        <h3>Our service</h3>
        <p>Every company has processes. But does your company also have a proper <span class="bold">Business Process Management</span>? 
        If your company suffers from loose process structures with a low level of digitalisation and automation, the answer is probably <span class="bold">NO</span>.
        </p><p>You are missing out! Without Business Process Management, your employees, customers and the quality of your products all suffer. The result? You lose money. </p>
        <p></p>
        <p class="bold bigger-size">You can do better!</p>
        <p></p>
        <p>Together, we can help you to reach your companies' full potential! We are experts in BPM and digitalisation. With our flexible solution, there is no need
          for permanently employing an own BPM team in your company. You only pay for what you need. Once our job is done, you are no longer depending on us. 
          All we care about is long-lasting results! 
        </p>
        <br/>
        <p>Our service consists of 3 main stages:</p>
        <br/>
        <p></p>
        <div class="row">
          <div class="col-sm-12 col-md-4">
            <div class="service-icon analyse"></div> <br/>
            <p class="uppercase bold slightly-bigger-size">Analyse</p>
            <p class="smaller-size">First, we analyse all your business processes and document them using the international standard for process 
              modeling, BPMN (Business Process Model and Notation).</p>
          </div>
           <div class="col-sm-12 col-md-4">
              <div class="service-icon optimise"></div> <br/>
              <p class="uppercase bold slightly-bigger-size">Optimise</p>
              <p class="smaller-size">Next, we optimise your processes by eliminating weaknesses in your workflows and finding out where your processes 
                can be automated or digitalised. </p>
            </div>
               <div class="col-sm-12 col-md-4">
              <div class="service-icon customise"></div> <br/>
              <p class="uppercase bold slightly-bigger-size">Customise</p>
              <p class="smaller-size">Finally, we provide you with a custom, exclusively-made-for-you software solution that allows you to more 
                efficiently process your tasks.</p>
            </div>
        </div>
        </div>
      </div>

    <!-- NEWS Section -->

     <div id="news">
      <div class="container" data-aos="fade-right" data-aos-delay="80" data-aos-duration="800" data-aos-easing="ease-in">
        <h3>News</h3>
        <p class="divider"><span>21/03/2019</span></p>
        <p>Moare is proud to announce the launch of the beta version of its own workflow management system <b>Moare WorkFlows</b>.
        WorkFlows gives you all the benefits of a regular BPM system with lots of additional features. One of these unique features of WorkFlows are so-called <i>Flexible Activities</i>.</p>
        <p>In some cases, certain tasks within a process only become clear after the process has already started. 
        These tasks can be different for every process instance and cannot bo determined beforehand, so it's impossible to include them in your BPMN before starting the process.
        With Flexible Activities, you can easily define tasks of a subprocess of a BPMN process at runtime without having to create a seperate BPMN process for every instance.</p>
        <p>In addition, WorkFlows is based on a modular concept for maximum customizability. The basic version of the software can be extended with plugins for additional features. 
          This way, you can make WorkFlows your own and only get and pay for the functionality which you really need.</p>
          <p>From now on, WorkFlows will be integrated into our service as we use it as the basis for all our future tailored customer solutions. 
            In the future, WorkFlows should also be made available for purchase for everyone - Whether you use our full service or are only interested in our BPM system.</p>
        </div>
      </div>

    <!-- VALUES -->
    <div id="values">
      <div class="container" data-aos="fade-left" data-aos-delay="80" data-aos-duration="800" data-aos-easing="ease-in">
        
        <h3>Our Culture</h3>
        <h4>What Makes Us...Us?</h4>
        <p>"More than just software" is not just a pretty slogan.
          It is an attitude, a mentality, a mindset, which we use to create high-quality software products.
          How do we do that? We have a clear mission and vision based on 3 core values.</p><br />
          <h4>Our Values</h4>
         <div class="row">
          <img class="value-left col-sm-12 col-md-5 col-lg-4 d-md-block d-none" src="/images/11.jpg" alt="Passion">
          <div class="value-content-left col-sm-12 col-md-7 col-lg-8">
            <h5><span class="bold">Mo(a)re </span>Passion</h5>
            <p>
              Our love for developing software is our primary motivation, our drive. We develop because it is our desire. We do it from the heart,
              and this also shows in our products.
            </p>
          </div>
          <div class="clear"></div>
             <div class="value-content-right col-sm-12 col-md-7 col-lg-8">
            <h5><span class="bold">Mo(a)re </span>Satisfaction</h5>
            <p>
              Everything we do, we do for our customers. We aim to keep a close relationship with our customers and
              constantly improve our products.
              We are not perfect, but together we strive for maximum satisfaction.
            </p>
          </div>
          <img class="value-right col-sm-12 col-md-5 col-lg-4 d-md-block d-none" src="/images/gj.jpg" alt="satisfaction">

          <div class="clear"></div>
          <img class="value-left col-sm-12 col-md-5 col-lg-4 d-md-block d-none" src="/images/unity.jpg" alt="unity">
          <div class="value-content-left col-sm-12 col-md-7 col-lg-8">
            <h5><span class="bold">Mo(a)re </span>Unity</h5>
            <p>
              True greatness can only be achieved by working together as a unit and combining the strengths and skills of
              every member of the team.
              There is no strict hierarchy within Moare. Every member is equal. We are one company, one team.
            </p>
          </div>
        </div>
        <div class="clear"></div>
          <h4>Our Vision</h4>
          <div class="row">

                        <div class="value-content-right col-sm-12 col-md-7 col-lg-8">

             <p>
               Our company vision is <b>to establish Moare as a synonym for Business Process Management</b> (BPM).
               We want to increase the awareness of the importance of BPM. In the end, our long-term goal is to become one of the leading software companies in the field of BPM. 
               Companies should automatically associate BPM with Moare. 
             </p>
           </div>
                              <img class="value-right col-sm-12 col-md-5 col-lg-4 d-md-block d-none" src="/images/vision.jpg" alt="mission">

           <div class="clear"></div>
         </div>
         <div class="clear"></div>
         <h4>Our Misson</h4>
         <div class="row">
                   <img class="value-left col-sm-12 col-md-5 col-lg-4 d-md-block d-none" src="/images/mission.jpg" alt="vision">

            <div class="value-content-left col-sm-12 col-md-7 col-lg-8">
          <p>
            Our mission is very simply <b>to help companies improve their business processes</b>.​ 
            With our service and software solutions, your company can make the most of its proceses and reach its full potential. 
          We want your company to be successful - and we want to contribute to your success.
          </p>
        </div>

          <div class="clear"></div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <div id="team">
      <div class="container" data-aos="fade-right" data-aos-delay="80" data-aos-duration="800" data-aos-easing="ease-in">
        <h3>Team</h3>
        <h4>We Are Moare.</h4>
        <div class="container">
          <div class="row justify-content-center">
        <!-- Card 1 -->
            <div class="col-xs-12 col-md-6 col-lg-6">
              <div class="rotate-container">
                <div class="card card-front text-center btn-rotate">
                  <div class="card-header">
                    <p><span class="bold">Martin</span> Gralka</p>
                  </div>
                  <div class="card-block">
                    <h3 class="card-title">Back-End Development</h3>
                    <img class="teampic" src="/images/martin.png" alt="Martin" />
                    <div class="click no-decoration">Click card for biography</div>
                  </div>
                  <div class="dog-ear"></div>
                </div>
                <div class="card card-back text-center btn-rotate">
                    <div class="card-header backside">
                      <p class="white-text"><span class="bold">Martin</span> Gralka</p>
                    </div>
                    <div class="card-block">
                      <h3 class="card-title backside">Back-End Development</h3>

                     <!-- <img class="teampic low-opac" src="/images//martin2.png" alt="Martin" /> -->
                      <div class="bio bg_martin">
                        <div class="biotext">Martin has a bachelor’s degree in Media Informatics and Interactive
                          Entertainment from Hochschule Mittweida.
                          It was during this studies that he fell in love with web development. After spending some
                          time working as a web designer,
                          the Chemnitz native gained experience as a front-end developer in a startup in Leipzig. <br /><br />
                          Although Martin enjoys creating a good user experience, he recently discovered his interest
                          in also developing back-end code.
                          Thus, the self-proclaimed perfectionist supports the team in the back-end development while
                          also functioning as Scrum Master. <br /><br />

                          Outside his love for developing and programming, Martin is a music enthusiast with a passion
                          for rock and metal music, enjoys playing
                          the guitar himself and going to concerts. When in the mood for procrastination, he likes to
                          explore the Netflix library of movies and TV shows.<br /><br />
                          <div class="quotebox">
                            <h4 class="quote">Favourite Quote: </h4>
                            <span class="italic">"People should pursue what they're passionate about. That will make
                              them happier than
                              pretty much anything else."</span> <span class="smaller">(Elon Musk)</span>
                          </div>
                        </div>
                      </div>
                      <div class="click backside no-decoration">Click card to flip back</div>

                    </div>
                    <div class="dog-ear-reverse"></div>

                </div>
              </div>
            </div>
            <!-- Card 2 -->
            <div class="col-xs-12 col-md-6 col-lg-6">
              <div class="rotate-container">
                <div class="card card-front text-center btn-rotate">
                  <div class="card-header">
                    <p><span class="bold">Florian</span> Hahn</p>
                  </div>
                  <div class="card-block">
                    <h3 class="card-title">Back-End Development</h3>
                    <img class="teampic" src="/images/florian.png" alt="Florian" />
                    <div class="click no-decoration">Click card for biography</div>
                  </div>
                  <div class="dog-ear"></div>
                </div>
                <div class="card card-back text-center btn-rotate">
                    <div class="card-header backside">
                      <p class="white-text"><span class="bold">Florian</span> Hahn</p>
                    </div>
                    <div class="card-block">
                      <h3 class="card-title backside">Back-End Development</h3>
                      <div class="bio bg_florian">
                        <div class="biotext">Growing up and going to school in Annaberg-Buchholz, Florian quickly
                          developed an affinity
                          for various computer topics. Driven by his original goal to become a game developer, he
                          pursued Bachelor’s degree programme
                          in the field of Media Informatics and Interactive Entertainment at Hochschule Mittweida in
                          2014 from which he graduated in 2017. <br /><br />
                          During his studies, Florian became increasingly interested in developing websites and web
                          development in general, and gained practical
                          experience working in companies and on various private projects. With this experience,
                          Florian leads the back-end development of the team. <br /><br />

                          Besides being a passionate developer, Florian is a sport enthusiast, hitting the gym almost
                          every day.
                          He is also interested in trains and hip-hop music, going to concerts regularly.<br /><br />
                          <div class="quotebox">
                            <h4 class="quote">Favourite Quote: </h4>
                            <span class="italic">"The meaning of life is to give your life a meaning."</span> <span
                              class="smaller">(Kool Savas)</span>
                          </div>
                        </div>
                      </div>
                      <div class="click backside no-decoration">Click card to flip back</div>

                    </div>
                    <div class="dog-ear-reverse"></div>
                </div>
              </div>
            </div>

            <!-- Card 3 -->
            <div class="col-xs-12 col-md-6 col-lg-4">
              <div class="rotate-container">
                <div class="card card-front text-center btn-rotate">
                  <div class="card-header">
                    <p><span class="bold">Aray</span> Kyzyltayeva</p>
                  </div>
                  <div class="card-block">
                    <h3 class="card-title">Front-End Development</h3>
                    <img class="teampic" src="/images/aray.png" alt="Aray" />
                    <div class="click no-decoration">Click card for biography</div>
                  </div>
                  <div class="dog-ear"></div>
                </div>
                <div class="card card-back text-center btn-rotate">
                    <div class="card-header backside">
                      <p class="white-text"><span class="bold">Aray </span> Kyzyltayeva</p>
                    </div>
                    <div class="card-block">
                      <h3 class="card-title backside">Front-End Development</h3>
                      <div class="bio bg_aray">
                        <div class="biotext">Aray was born in Istanbul, Turkey but spent most of her life living in the capital of Kazakhstan, Astana,
                          where her parents come from.
                          She obtained her bachelor’s degree in the field of Information Security in 2017. After graduation, she moved to Germany to
                          continue studying, pursuing a master’s degree in Web Engineering.  <br/><br/>
                          Aray supports the team with her knowledge she gained in her bachelor studies, acting as a counsellor for security aspects.
                          Her primary role in the team however is to work on the front-end where she already gained practical experience working in a
                          company focused on web development and is anxious to further improve her skills in that area.<br/><br/>

                          Aray views Information technologies not only as her future profession, but a hobby as well. Besides this, she is very passionate
                          about music and music festivals. <br /><br />
                          <!--<div class="quotebox">
                            <h4 class="quote">Favourite Quote: </h4>
                            <span class="italic">"Missing"</span> <span
                              class="smaller">(Missing)</span>
                          </div> -->
                        </div>
                        <div class="quotebox">
                            <h4 class="quote">Favourite Quote: </h4>
                            <span class="italic">"Be afraid and do it anyway."</span> <span
                              class="smaller">(Unknown)</span>
                          </div>
                      </div>
                      <div class="click backside no-decoration">Click card to flip back</div>
                    </div>
                    <div class="dog-ear-reverse"></div>
                </div>
              </div>
            </div>

                      <!-- Card 4 -->
                      <div class="col-xs-12 col-md-6 col-lg-4">
                          <div class="rotate-container">
                            <div class="card card-front text-center btn-rotate">
                              <div class="card-header">
                                <p><span class="bold">Toni</span> Freitag</p>
                              </div>
                              <div class="card-block">
                                <h3 class="card-title">Full-Stack Development</h3>
                                <img class="teampic" src="/images/toni.png" alt="Toni" />
                                <div class="click no-decoration">Click card for biography</div>

                              </div>
                               <div class="dog-ear"></div>
                            </div>
                            <div class="card card-back text-center btn-rotate">
                                <div class="card-header backside">
                                  <p class="white-text"><span class="bold">Toni</span> Freitag</p>
                                </div>
                                <div class="card-block">
                                  <h3 class="card-title backside">Full-Stack Development</h3>
                                  <div class="bio bg_toni">
                                    <div class="biotext" style="margin-bottom:20px;">Toni is originally from Elterlein in the Erz Mountains (Erzgebirge). Like the rest of the team,
                                      he is currently pursuing his master’s degree in Web Engineering at the Technical University of Chemnitz. However,
                                      he is the only team member to have also obtained his bachelor’s degree in Chemnitz where he studied Computer Science
                                      until his graduation in 2017. Toni has been interested in web development for years and is experienced in both front-end-
                                      and back-end programming. Furthermore, he has gained experience working as a project manager in software engineering. <br/><br/>
                                      Due to his wide field of knowledge, Toni works as a full-stack developer in Moare, helping out wherever his skills are
                                      needed.  He is also responsible for maintaining Moare’s infrastructure and is also the primary contact partner for our
                                      clients in his role as Product Owner. <br/><br/>
                                      Apart from being a passionate developer and workhorse, Toni regularly trains Judo which he has been
                                      practicing ever since his childhood.
                                <br /><br />
                                      <!--<div class="quotebox">
                                        <h4 class="quote">Favourite Quote: </h4>
                                        <span class="italic">"Missing"</span> <span
                                          class="smaller">(Missing)</span>
                                      </div> -->
                                    </div>
                                  </div>
                                  <div class="click backside no-decoration">Click card to flip back</div>
                                </div>
                                <div class="dog-ear-reverse"></div>
                            </div>
                          </div>
                        </div>

                                      <!-- Card 5 -->
                      <div class="col-xs-12 col-md-6 col-lg-4">
                          <div class="rotate-container">
                            <div class="card card-front text-center btn-rotate">
                              <div class="card-header">
                                <p><span class="bold">Kristin</span> Bäßler</p>
                              </div>
                              <div class="card-block">
                                <h3 class="card-title">Front-End Development</h3>
                                <img class="teampic" src="/images/kristin.png" alt="Kristin" />
                                <div class="click no-decoration">Click card for biography</div>
                              </div>
                              <div class="dog-ear"></div>
                            </div>
                            <div class="card card-back text-center btn-rotate">
                                <div class="card-header backside">
                                  <p class="white-text"><span class="bold">Kristin</span> Bäßler</p>
                                </div>
                                <div class="card-block">
                                  <h3 class="card-title backside">Front-End Development</h3>
                                  <div class="bio bg_kristin">
                                    <div class="biotext">
                                      Having grown up in a small village in the Erz Mountains (Erzgebirge), Kristin obtained her bachelor’s degree in the field of
                                      Media Informatics and Interactive Entertainment at Hochschule Mittweida. It was there where she not only discovered her interest
                                      in 2D art and 3D design, but also creating websites. <br/><br/>
                                      The combination of analytical and creative skills is what fascinated her the most about this field.
                                      She feels most comfortable in front-end-development as this is where she can also incorporate her design skills.
                                      Thus, front-end development is Kristin’s major field of duty. Additionally, she brings her 2D art experience into play by taking
                                      care of the logo design. <br/><br/>

                                    Even in her free time, Kristin likes to draw things with her Artbook. In her quiet moments she also likes to play the guitar.
                                    Other interests include going to festivals, concerts or occasionally the theater. <br /><br />
                                      <div class="quotebox">
                                        <h4 class="quote">Favourite Quote: </h4>
                                        <span class="italic">"Start by doing what’s necessary; then do what’s possible; and suddenly you are doing the impossible."</span> <span
                                          class="smaller">(Francis of Assisi)</span>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="click backside no-decoration">Click card to flip back</div>
                                </div>
                                <div class="dog-ear-reverse"></div>
                            </div>
                          </div>
                        </div>

          </div>
        </div>
      </div>
    </div>
    <div id="contact">
      <div class="container" data-aos="fade-left" data-aos-delay="80" data-aos-duration="800" data-aos-easing="ease-in">
        <h3>Contact us!</h3>
        <p>Questions? Complaints? Praise? Whatever it may be – Feel free to get in contact with us. </p>
        <p>We usually answer within 24 hours (Monday to Friday).</p>
        <form action="mailto:info@moare.eu" method="post">
            <!-- <input type="text" name="vorname" value="" size="30" maxlength="50"> -->
            <div class="form-group">
            <textarea name="Nachricht" class="form-control" cols="30" rows="5"></textarea>
            </div>
            <br>
            <input type="submit" value="Send" class="btn btn-secondary btn-custom">
            <br>
            <br>
            <p>Feel also free to follow us on social media for information and getting in contact with us. </p>
        </form>
      </div>
    </div>
    <div id="footer">
    <div class="container">
      <div class="row d-flex align-items-center">
      <div class="col-xs-12 col-md-8">
        <div>
          <div class="address-box">
            <img class="icon_address" src="/images/addres.png">
            <div id="address">
                    <p>Technische Universität Chemnitz<br/>
                    Straße der Nationen 62<br/>
                    09111 Chemnitz (Saxony)<br/>
                    Germany</p>
            </div>
          </div>
        </div>
      </div>
    <div class="col-xs-12 col-md-4 text-center text-md-right">
      <div id="socialmedia">
      <a class="link" href="https://www.facebook.com/moare.eu" target="_blank"><img src="/images/facebook-icon.png" class="sm-icon" alt="Facebook" height="32" width="32"></a>
       <!-- <img src="/static/img/facebook.png" alt="Facebook" height="64" width="64"> -->
      <a class="link" href="https://twitter.com/moareteam" target="_blank"><img src="/images/twitter-icon.png" class="sm-icon" alt="Facebook" height="32" width="32"></a>
      <!-- <img src="/static/img/twitter.png" alt="Facebook" height="64" width="64"> -->
      </div>
    </div>
      </div>
   <div class="footer-copyright text-center">© Moare, 2018. All Rights Reserved.
      <router-link to="/privacy"  class="no-decoration privacy">Privacy Policy</router-link>
    </div>
  </div>
  </div>
  </div>
  </div>
</template>

<script>

export default {
  created() {},
  mounted() {
    // For card rotation
    // on load: hide all bios no matter what 
    $('.bio').hide();
    $(".btn-rotate").click(function() {
      console.log(this);
      // currenlty backside
      if ($(this).hasClass("rotate-card-back")) {
        // change to frontside
        console.log("1. if");
        $(this).removeClass("rotate-card-back");
        $(this)
          .prev()
          .removeClass("rotate-card-front");
          $(this).children().eq(1).children().eq(1).fadeOut(450);
         // currently frontside
      } else if (!$(this).hasClass("rotare-card-front")) {
         // change to backside
        $(this).addClass("rotate-card-front");
        $(this)
          .next()
          .addClass("rotate-card-back");
                   console.log($(this).next().children().eq(1));
        $(this).next().children().eq(1)
          .children().eq(1).fadeIn(550);
 
      }
    }),
      // Highlight section in navbar on click
      $(function(){
	    $(document).on('click','.nav-item',function(e){
  	  $('.nav-item').removeClass('active');
      $(this).addClass('active');});
                  });
      // Highlight section in navbar on scroll
      $(window).on("scroll", function() {
        var currentPos = $(window).scrollTop();

        $('a.color-white').each(function() {
          var sectionLink = $(this);
          // capture the height of the navbar
          var navHeight = $('#nav').outerHeight() + 1;
          var section = $(sectionLink.attr('href'));

          // subtract the navbar height from the top of the section
          if(section.position().top - navHeight  <= currentPos && sectionLink.offset().top + section.height()> currentPos) {
            $('#navbarNav li').removeClass('active');
            sectionLink.parent().addClass('active');
          } else {
            sectionLink.parent().removeClass('active');
          }
        });   
      });

      //initialize AOS
      AOS.init(); 
}
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
</style>
